// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
  background: color(body-background);
  color: color(text);
  font-family: 'Roboto', sans-serif;
  line-height: 1.44444;
    &.admin-bar {
        .navbar-fixed-top {
            top: 32px;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  line-height: 1.22222;
}
a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color .8s ease-out;
  .wrap-content &,
  .menu-inline & {
    color: color(link);
  }
  .wrap-sidebar & {
    color: color(link-muted);
  }
}
figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}
.jumbotron {
    text-align: center;
    p {
        font-weight: 300;
    }
}