#intro {
    height: 50vh;
    color: #fff;
    @include linear-gradient(90deg, #5C258D 10%, #4389A2 90%);
}

#services {
    .service {
        color: #5C258D;
        text-align: center;
        h2 {
            color: #4389A2;
        }
    }
}